<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>data必须是函数</title>
    <script type="text/javascript" src="vue.js"></script>
</head>

<body>
    <div id="app">
        <butt></butt>
        <butt></butt>
        <butt></butt>
        <ul>
            <test v-for="item in array" v-bind:tem-data='item'>
            </test>
        </ul>
        <div>
            <input type="text" v-model="parentMsg">
            <br>
            <child v-bind:msg="parentMsg" aaa="9"></child>
            <child :msg="parentMsg" :aaa="9"></child>
        </div>
    </div>
    <script type="text/javascript">
    var data = {
        count: 0
    };
    Vue.component('child', {
        props: ['msg', 'aaa', 'bbb'],
        template: '<div>{{msg}}    {{aaa+1}}</div>'
    });
    Vue.component('test', {
        props: ['temData'],
        template: '<div>{{temData}}  {{counter}}   {{normalizedSize}}</div>',
        data: function() {
            return {
                counter: this.temData
            };
        },
        computed: {
            normalizedSize: function() {
                return this.temData.trim().toUpperCase()
            }
        }
    });
    Vue.component('butt', {
        template: '<button v-on:click="count++">{{count}}</button>',
        data: function() {
            // return data;
            return {
                count: 0
            };
        }
    });
    var app = new Vue({
        el: '#app',
        data: {
            array: ['dsdas', 'asfsdf', 'ewtewtrt'],
            parentMsg: 'test'
        }
    });
    </script>
</body>

</html>
